*{
	box-sizing: border-box;
	margin:0;
	padding:0;
	font-family: 'Roboto Condensed', arial;
}
body{
color:black;
font-size: 20px;
background-color: #F5F5F5;
}
a{
    text-decoration: none;
    color: inherit;
}

/****************** форма входа ****************/
.login-form{
	position:relative;
    left: 200px;
float:left;
    bottom: 1800px;
    display:none;
}
.form-login {
    font-family: 'Ubuntu', 'Lato', sans-serif;
    font-weight: 400;
    width: 300px;
    position: relative;
    margin: 60px auto 30px;
    padding: 10px;
    overflow: hidden;
    background: #111;
    border-radius: 0.4em;
    border: 1px solid #191919;
    box-shadow:
        inset 0 0 2px 1px rgba(255,255,255,0.08),
        0 16px 10px -8px rgba(0, 0, 0, 0.6);
}
.form-login label {
    width: 50%;
    float: left;
    padding-top: 9px;
    color: #ddd;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-shadow: 0 1px 0 #000;
    text-indent: 10px;
    font-weight: 700;
    cursor: pointer;
}
 .form-login input[type=text],
.form-login input[type=password] {
    width: 50%;
    float: left;
    padding: 8px 5px;
    margin-bottom: 10px;
    font-size: 12px;
    background: linear-gradient(#1f2124, #27292c);   
    border: 1px solid #000;
    box-shadow:
    0 1px 0 rgba(255,255,255,0.1);
    border-radius: 3px;
    font-family: 'Ubuntu', 'Lato', sans-serif;
    color: #fff;
 }
 .form-login input[type=text]:hover,
.form-login input[type=password]:hover,
.form-login label:hover ~ input[type=text],
.form-login label:hover ~ input[type=password] {
    background: #27292c;
}
 .form-login input[type=text]:focus,
.form-login input[type=password]:focus {
    box-shadow: inset 0 0 2px #000;
    background: #494d54;
    border-color: #51cbee;
    outline: none;
}
.form-login p:nth-child(3),
.form-login p:nth-child(4) {
    float: left;
    width: 50%;
}
.form-login label[for=remember] {
    width: auto;
    float: none;
    display: inline-block;
    text-transform: capitalize;
    font-size: 11px;
    font-weight: 400;
    letter-spacing: 0px;
    text-indent: 2px;
}
 .form-login input[type=checkbox] {
    margin-left: 10px;
    vertical-align: middle;
}
.form-login input[type=submit] {
    width: 100%;
    padding: 8px 5px;
    border: 1px solid #0273dd;
    border: 1px solid rgba(0,0,0,0.4);
    box-shadow:
    inset 0 1px 0 rgba(255,255,255,0.3),
    inset 0 10px 10px rgba(255,255,255,0.1);
    border-radius: 3px;
    background: #22465F;
    cursor:pointer;
    font-family: 'Ubuntu', 'Lato', sans-serif;
    color: white;
    font-weight: 700;
    font-size: 15px;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.8);
}
 .form-login input[type=submit]:hover {
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.6);
}
 .form-login input[type=submit]:active {
    background: #287db5;
    box-shadow: inset 0 0 3px rgba(0,0,0,0.6);
    border-color: #000; /* Fallback */
    border-color: rgba(0,0,0,0.9);
}
 .no-boxshadow .form-login input[type=submit]:hover {
    background: #2a92d8;
}
.form-login:after {
    content: "";
    height: 1px;
    width: 33%;
    position: absolute;
    left: 20%;
    top: 0;
    background: linear-gradient(left, transparent, #444, #b6b6b8, #444, transparent);
}
.form-login:before {
    content: "";
    width: 8px;
    height: 5px;
    position: absolute;
    left: 34%;
    top: -7px;
    border-radius: 50%;
    box-shadow: 0 0 6px 4px #fff;
}
.form-login p:nth-child(1):before{
    content: "";
    width: 250px;
    height: 100px;
    position: absolute;
    top: 0;
    left: 45px;
    transform: rotate(75deg);
    background: linear-gradient(50deg, rgba(255,255,255,0.15), rgba(0,0,0,0));
    pointer-events: none;
}
.no-pointerevents .form-login p:nth-child(1):before {
    display: none;
}

/* форма регистрации*/
.register-form{
	position:relative;
    right: 150px;

    bottom: 1800px;
    display:none;
}
.form-register {
    font-family: 'Ubuntu', 'Lato', sans-serif;
    font-weight: 400;
    width: 300px;
    position: relative;
    margin: 60px auto 30px;
    padding: 10px;
    overflow: hidden;
    background: #111;
    border-radius: 0.4em;
    border: 1px solid #191919;
    box-shadow:
        inset 0 0 2px 1px rgba(255,255,255,0.08),
        0 16px 10px -8px rgba(0, 0, 0, 0.6);
}
.form-register label {
    width: 50%;
    float: left;
    padding-top: 9px;
    color: #ddd;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-shadow: 0 1px 0 #000;
    text-indent: 10px;
    font-weight: 700;
    cursor: pointer;
}
 .form-register input[type=text],
.form-register input[type=password] {
    width: 50%;
    float: left;
    padding: 8px 5px;
    margin-bottom: 10px;
    font-size: 12px;
    background: linear-gradient(#1f2124, #27292c);   
    border: 1px solid #000;
    box-shadow:
    0 1px 0 rgba(255,255,255,0.1);
    border-radius: 3px;
    font-family: 'Ubuntu', 'Lato', sans-serif;
    color: #fff;
 }
 .form-register input[type=text]:hover,
.form-register input[type=password]:hover,
.form-register label:hover ~ input[type=text],
.form-register label:hover ~ input[type=password] {
    background: #27292c;
}
 .form-register input[type=text]:focus,
.form-register input[type=password]:focus {
    box-shadow: inset 0 0 2px #000;
    background: #494d54;
    border-color: #51cbee;
    outline: none;
}
.form-register p:nth-child(3),
.form-register p:nth-child(4),
.form-register p:nth-child(5), {
    float: left;
    width: 50%;
}

.form-register input[type=submit] {
    width: 100%;
    padding: 8px 5px;
    border: 1px solid #0273dd;
    border: 1px solid rgba(0,0,0,0.4);
    box-shadow:
    inset 0 1px 0 rgba(255,255,255,0.3),
    inset 0 10px 10px rgba(255,255,255,0.1);
    border-radius: 3px;
    background: #22465F;
    cursor:pointer;
    font-family: 'Ubuntu', 'Lato', sans-serif;
    color: white;
    font-weight: 700;
    font-size: 15px;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.8);
}
 .form-register input[type=submit]:hover {
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.6);
}
 .form-register input[type=submit]:active {
    background: #287db5;
    box-shadow: inset 0 0 3px rgba(0,0,0,0.6);
    border-color: #000; /* Fallback */
    border-color: rgba(0,0,0,0.9);
}
 .no-boxshadow .form-register input[type=submit]:hover {
    background: #2a92d8;
}
.form-register:after {
    content: "";
    height: 1px;
    width: 33%;
    position: absolute;
    left: 20%;
    top: 0;
    background: linear-gradient(left, transparent, #444, #b6b6b8, #444, transparent);
}
.form-register:before {
    content: "";
    width: 8px;
    height: 5px;
    position: absolute;
    left: 34%;
    top: -7px;
    border-radius: 50%;
    box-shadow: 0 0 6px 4px #fff;
}
.form-register p:nth-child(1):before{
    content: "";
    width: 250px;
    height: 100px;
    position: absolute;
    top: 0;
    left: 45px;
    transform: rotate(75deg);
    background: linear-gradient(50deg, rgba(255,255,255,0.15), rgba(0,0,0,0));
    pointer-events: none;
}
.no-pointerevents .form-register p:nth-child(1):before {
    display: none;
}




/*****************************************/

.wrapper{
max-width:1200px;
margin:0 auto;
}

.contents:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.contents { display: inline-block; }
/* start commented backslash hack \*/
* html .contents { height: 1%; }
.contents { display: block; }
/* close commented backslash hack */
#header{
	margin-bottom:10px;
	/*border:3px solid black;*/
	width:100%;
}


.inner-header{/* контент внутри хеадера*/
	background-color:;

	margin: 10px 10px 10px 10px;
}

#logo{
	
	width: 500px;
	height: 150px;
}

#searchform{ /* форма с ссылками и поиском */
float:right;
margin-top: 30px;
clear:both;
}
.links{

}
#search>input{
	font-size: 20px;
	color:#fff;
width:100%;
height: 35px;
border: 2px solid #000;
padding: 5px 2px 5px 36px; 
border-radius: 10px;
background: url("http://1.bp.blogspot.com/_hljKDuw-cxQ/SDEJPIeJG2I/AAAAAAAAGaM/N_Lu4sxLH_4/s00/lpDemoBuscador.gif") no-repeat scroll 2% 50% #000;
}
.btn-login {
	margin: 15px 30px 0 0;
	float:right;
   position: relative;
  display: inline-block;
  font-size: 90%;
  font-weight: 700;
  color: rgb(209,209,217);
  text-decoration: none;
  text-shadow: 0 -1px 2px rgba(0,0,0,.2);
  padding: .5em 1em;
  outline: none;
  border-radius: 20px;
  background: linear-gradient(rgb(110,112,120), rgb(81,81,86)) rgb(110,112,120);
  box-shadow:
   0 1px rgba(255,255,255,.2) inset,
   0 3px 5px rgba(0,1,6,.5),
   0 0 1px 1px rgba(0,1,6,.2);
  transition: .2s ease-in-out;
}
.btn-login:hover:not(:active) {
	cursor:pointer;
  background: linear-gradient(rgb(126,126,134), rgb(70,71,76)) rgb(126,126,134);
}
.btn-login:active {
	cursor:pointer;
  top: 1px;
  background: linear-gradient(rgb(76,77,82), rgb(56,57,62)) rgb(76,77,82);
  box-shadow:
   0 0 1px rgba(0,0,0,.5) inset,
   0 2px 3px rgba(0,0,0,.5) inset,
   0 1px 1px rgba(255,255,255,.1);
}

/*  меню */
#nav,#nav li {
	
}
.nav{
	background-color: #000;
	border-radius: 15px;
}
#nav {
 height: 50px;
	border-radius: 10px;
	
 }
#nav li{
	text-align: center;
	display:inline-block;
	overflow: hidden;
}
#nav a{
	background:#292929;
	    height: 50px;
	display: block;
	text-decoration:none;
	color:#fff;
	border-radius: 10px 10px 10px 10px;
	width: 130px;
	padding-top: 10%;
	font-weight: bold
}
#nav a:hover {
	background: #CCCCCC;

}

/**************************/

#banner>img{
	width:100%;
	height:200px;
	margin: 0 0 20px 0;
}
/* основной контент */
.midside{
	width:74%;
	float:left;
	/*border:3px solid black;*/

	background-color: #000;
	border-radius: 10px;
}
.title{
	font-size:30px;
	font-weight: bold;
	text-align: center;
	color:#fff;
	padding:10px 0 10px 0;
}

.inner-content{ /*блока с новостями*/
	min-height:250px;
	background-color: #fff;
	margin: 10px 10px 10px 10px;
}
.photo{/*стиль фото в новостях*/
	margin-right:20px;
	float:left;
	padding:10px;

	
}
.photo>img{  
	
	width:350px;
	max-height:200px;
	border-radius: 10px;
	
}
.news-title{
font-size: 25px;
margin:10px 0 10px 0;
}
.description{
font-size:20px;
margin-bottom:10px;
}
.inner-content>a{
color:#ff0000;
	text-decoration:none;

}
.inner-content>a:hover{
color:#4B924B;
}

.rightside{
	font-size:15px;
	width:25%;
	float:right;
	/*border:3px solid black;*/
		background-color: #000;
	border-radius: 10px;
	
}

.inner-rightside{ /* контент внутри правого блока*/
background-color: #fff;

	margin: 10px 10px 10px 10px;
}
.tornament{ /* турнир */

	margin: 10px 10px 10px 10px;

		
}
.tornament>img{
max-width: 50px;
max-height: 50px;
border-radius: 30px;
}
img[alt="cross"]{
	max-width: 20px;
max-height: 20px;
margin: 0 17px 15px 17px;
}

#footer{
	margin-top:10px;
	/*border:3px solid black;*/
	background-color: #fff;
}

.inner-footer{ /* контент внутри футера*/
	margin: 10px 10px 10px 10px;
	text-align:center;
}
.sign-in-close{
	width: 15px;
	float:right;
	cursor: pointer;
}
.sign-in-panel, .register-panel{
	width: 450px;
	padding: 30px;
	background-color: #757575;
	color: white;
	text-align: center;
	margin: 12% auto;
	border-radius: 7px;
}
.sign-in-panel input, .register-panel input, .register-panel select{
	width: 200px;
	height: 25px;
}
.sign-in-panel input[type=submit], .register-panel input[type=submit]{
	margin: 15px 0;
	height: auto;
	background-color: red;
	outline: none;
	border: 0;
	color: white; 
	padding: 7px 0;
	font-size: 14pt;
	transition: .3s;
}
.sign-in-panel input[type=submit]:hover, .register-panel input[type=submit]:hover{
	cursor: pointer;
	box-shadow: 0px 0px 20px 7px rgba(255, 50, 50, 0.7);
	transition: .3s;
}
.sign-in-panel a:visited{
	color: white;
}
.sign-in-panel p{
	margin: 15px 0;
}
.sign-in-panel-wraper{
	width: 100%;
	position: absolute;
	/*background-color: rgba(1,1,1,.6);*/
	top: 0;
	left: 0;
	display: none;
}
.register-panel input, .register-panel select{
	margin: 5px 0;
}

.error-mess{
	background-color: red;
	color: white;
	font-size: 15px;
}
.control-panel{
}
.control-panel li{
    list-style-type: none;
    cursor: pointer; 
    padding: 5px 0;
}
.tournament-list table{
    width: 100%;
    text-align: center;
    border-spacing: 0;
}
.tournament-list a{
    display: block;
}
/*.tournament-list td{
    border-bottom: 1px solid gray;
}*/
.open-tornament{
    background-color: green;
    color: white;
}

/* медиа запросы*/
@media only (max-device-width: 1024px) {

#nav a{
	background:#292929;
	    height: 50px;
	display: block;
	text-decoration:none;
	color:#fff;
	border-radius: 10px 10px 10px 10px;
	width: 100px;
	padding-top: 6%;
	font-weight: bold
}