*{
	box-sizing: border-box;
	margin:0;
	padding:0;
}
body{
	color:black;
	font-size: 30px;
background-color: #F5F5F5;
}

.wrapper{
	max-width:1600px;

}


.contents:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.contents { display: inline-block; }
/* start commented backslash hack \*/
* html .contents { height: 1%; }
.contents { display: block; }
/* close commented backslash hack */
#header{
	margin-bottom:10px;
	border:3px solid black;
}


.inner-header{/* контент внутри хеадера*/
	background-color:;

	margin: 10px 10px 10px 10px;
}

#logo{
	
	width: 500px;
	height: 200px;
}

#searchform{ /* форма с ссылками и поиском */
float:right;
}
.links{

}
#search>input{
	font-size: 20px;
	color:#fff;
width:100%;
height: 35px;
border: 2px solid #000;
padding: 5px 2px 5px 36px; 
border-radius: 10px;
background: url("http://1.bp.blogspot.com/_hljKDuw-cxQ/SDEJPIeJG2I/AAAAAAAAGaM/N_Lu4sxLH_4/s00/lpDemoBuscador.gif") no-repeat scroll 2% 50% #000;
}

/*  меню */
#nav,#nav li {
	
}
.nav{
	background-color: #000;
	border-radius: 15px;
}
#nav {
	border-radius: 10px;
	
 }
#nav li{
	text-align: center;
	display:inline-block;
}
#nav a{
	background:#292929;
	display: block;
	text-decoration:none;
	color:#fff;
	padding:7px 15px;
	border-radius: 10px 10px 10px 10px;
	width: 200px;



}
#nav a:hover {
	background: #CCCCCC;

}

/**************************/

#banner>img{
	width:100%;
	height:200px;
	margin: 0 0 10px 0;
}

.midside{
	width:70%;
	float:left;
	border:3px solid black;
}

.inner-content{ /*блока с новостями*/
	min-height:250px;
	
	margin: 10px 10px 10px 10px;
}
.photo{
	margin-right:20px;
	float:left;
	padding:10px;
	border:1px solid;
	border-radius: 10px;
}
.photo>img{  /*стиль фото в новостях*/
	
	width:400px;
	height:200px;
	
}
.news-title{

}
.description{
font-size:20px;
}
.inner-content>a{
color:#ff0000;
	text-decoration:none;
}
.inner-content>a:hover{
color:#4B924B;
}

.rightside{
	width:30%;
	float:left;
	border:3px solid black;
}

.inner-sidebar{ /* контент внутри правого блока*/


	margin: 20px 10px 10px 10px;
}
.tornament{ /* турнир */
	border:1px solid;
	
	
}


#footer{
	margin-top:10px;
	border:3px solid black;
}

.inner-footer{ /* контент внутри футера*/
	margin: 10px 10px 10px 10px;
	text-align:center;
}